@model TestWebRemake.Controllers.EntityInfo

@{
    ViewBag.Title = "Entity";
}

<h2>Entity</h2>
<div class="row">
    <div class="col-md-12">
        <h2>@Model.EntityName</h2>

        @foreach (var attribute in Model.AttributeNames)
        {
            <p>@attribute</p>
        }
    </div>
</div>

